// ------------------------------------------------------------------
// SEMANTIC COLORS --------------------------------------------------
// ------------------------------------------------------------------
$accent-color: var(--accent-color);
$background-color: var(--background-color);
$selection-color: var(--selection-color);
$outline-color: var(--outline-color);
$tap-highlight-color: var(--tap-highlight-color);

$header-gradient-1: var(--header-gradient-1);
$header-gradient-2: var(--header-gradient-2);

$text-color: var(--text-color);
$text-color--dimmed: var(--text-color--dimmed);
$highlight-bg: var(--highlight-bg);
$link-color: var(--link-color);
$error-text-color: var(--error-text-color);
$success-text-color: var(--success-text-color);
$blockquote-gradient-1: var(--blockquote-gradient-1);
$blockquote-gradient-2: var(--blockquote-gradient-2);
$code-gradient-1: var(--code-gradient-1);
$code-gradient-2: var(--code-gradient-2);
$image-filter: var(--image-filter);

$btn-bg-color: var(--btn-bg-color);
$btn-bg-outline-color: var(--btn-bg-outline-color);
$btn-border-color: var(--btn-border-color);
$btn-bg-color--hover: var(--btn-bg-color--hover);
$btn-text-color: var(--btn-text-color);
$btn-spinner-color: var(--btn-spinner-color);

$input-border-color: var(--input-border-color);
$input-border-color--hover: var(--input-border-color--hover);
$input-placeholder-color: var(--input-placeholder-color);

$email-collector-background: var(--email-collector-background);
$email-collector-shadow-color: var(--email-collector-shadow-color);

$tooltip-outline-color: var(--tooltip-outline-color);
$tooltip-outline-color--hover: var(--tooltip-outline-color--hover);
$tooltip-bg-color: var(--tooltip-bg-color);
$tooltip-shadow-color: var(--tooltip-shadow-color);

// ------------------------------------------------------------------
// BREAKPOINTS ------------------------------------------------------
// ------------------------------------------------------------------
$mobile-width: 600px;
$tablet-portrait: 600px;
$tablet-landscape: 900px;
$desktop: 1200px;
$wide: 1800px;

$mq-breakpoints: (
  mobile: $mobile-width,
  tablet-portrait: $tablet-portrait,
  tablet-landscape: $tablet-landscape,
  desktop: $desktop,
  wide: $wide,
);
@import 'sass-mq/mq';

// ------------------------------------------------------------------
// FONTS ------------------------------------------------------------
// ------------------------------------------------------------------
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$mono: 'Fira Code', Menlo, Monaco, 'Courier New', monospace;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$base-font-size: 1em;
$modularscale: (
  base: $base-font-size,
  ratio: 1.2,
);
@import 'modularscale-sass/stylesheets/modularscale';

// ------------------------------------------------------------------
// DIFFERENT --------------------------------------------------------
// ------------------------------------------------------------------
$radius-rounded: 290486px;
$border-radius: 5px;
$border-style: 2px solid;
