$mobile-width: 600px;
$tablet-portrait: 600px;
$tablet-landscape: 900px;
$desktop: 1200px;
$wide: 1800px;

$mq-breakpoints: (
  mobile: $mobile-width,
  tablet-portrait: $tablet-portrait,
  tablet-landscape: $tablet-landscape,
  desktop: $desktop,
  wide: $wide,
);
@import 'sass-mq/mq';

$accent-color: hsl(135, 70%, 50%);
$light-accent-color: mix($accent-color, #fff, 80%);
$lighter-accent-color: mix($accent-color, #fff, 60%);
$superlight-accent-color: mix($accent-color, #fff, 40%);
$superlight-accent-semi-transparent-color: mix($superlight-accent-color, rgba(255, 255, 255, 0), 40%);
$dark-accent-color: mix($accent-color, #000, 80%);
$darker-accent-color: mix($accent-color, #000, 60%);

$black: hsl(0, 0%, 30%);
$red: hsl(350, 75%, 65%);
$white: #fff;
$grey: hsl(0, 0%, 60%);
$grey-light: hsl(0, 0%, 75%);
$grey-lighter: hsl(0, 0%, 90%);

$background-color: $white;
$text-color: $black;
$error-text-color: $red;
$success-text-color: $accent-color;
$email-collector-background: rgb(255, 230, 190);
$shadow-color: mix($text-color, rgba(255, 255, 255, 0), 25%);

$radius-rounded: 290486px;

$sans-serif: Roboto, Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$mono: 'Fira Code', Menlo, Monaco, 'Courier New', monospace;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$base-font-size: 1em;
$modularscale: (
  base: $base-font-size,
  ratio: 1.2,
);
@import 'modularscale-sass/stylesheets/modularscale';

$border-radius: 5px;
$border-style: 2px solid;
