.btn {
  height: 100%;
  padding: 8px 15px;
  font-family: $serif;
  font-size: ms(0);

  border: $border-style;
  border-radius: $border-radius;

  appearance: none;
  user-select: none;
  cursor: pointer;

  transition: box-shadow 0.3s ease-in-out;
}

.btn--fullwidth {
  width: 100%;
}

.btn--accent {
  background-color: $btn-bg-color;
  border-color: $btn-border-color;
  color: $btn-text-color;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px $btn-bg-color;
  }

  &:hover {
    background-color: $btn-bg-color--hover;
  }
}

.btn--accent-outline {
  background-color: transparent;
  color: $btn-bg-color;
  border-color: $btn-bg-color;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px $btn-bg-color;
  }

  &:hover {
    color: $btn-bg-color--hover;
    border-color: $btn-bg-color--hover;
  }
}

.btn--loading {
  color: transparent !important;
  pointer-events: none;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 1em;
    width: 1em;
    top: calc(50% - (1em / 2));
    left: calc(50% - (1em / 2));

    color: transparent !important;

    @extend .loading;
  }
}
