.btn {
  padding: 8px 15px;
  font-family: $serif;
  font-size: ms(0);

  border: $border-style;
  border-radius: $border-radius;

  background-color: $background-color;

  -webkit-appearance: none;
  user-select: none;
  cursor: pointer;
}

.btn--fullwidth {
  width: 100%;
}

.btn--small {
  font-size: ms(-2);
}

.btn--accent {
  background-color: $accent-color;
  border-color: $dark-accent-color;
  color: #fff;

  outline-color: $lighter-accent-color;

  &:hover {
    background-color: $light-accent-color;
  }
}

.btn--accent-outline {
  color: $accent-color;
  border-color: $accent-color;

  outline-color: $lighter-accent-color;

  &:hover {
    color: $light-accent-color;
    border-color: $light-accent-color;
  }
}

.btn--loading {
  color: transparent !important;
  pointer-events: none;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 1em;
    width: 1em;
    top: calc(50% - (1em / 2));
    left: calc(50% - (1em / 2));

    color: transparent !important;

    animation: spinAround 1s infinite linear;
    border: 2px solid $grey-lighter;
    border-radius: $radius-rounded;
    border-bottom-color: transparent;
    border-top-color: transparent;
  }
}
