.input {
  padding: 4px 7px;
  min-width: 220px;
  border: $border-style;
  border-radius: $border-radius;

  font-family: $serif;
  font-size: ms(0);
  color: $text-color;

  user-select: text;

  transition: box-shadow 0.3s ease-in-out;
}

.input--accent {
  border-color: $input-border-color;
  background-color: transparent;

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:hover {
    border-color: $input-border-color--hover;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 10px $input-border-color;
  }
}
