---
lang: en
organization: Mazafaka
locations: [World]
tags: [Fun]
title: Hackers hacked a forum of hackers
potentialVictims: 3000
source: https://krebsonsecurity.com/2021/03/three-top-russian-cybercrime-forums-hacked/
start: 
end: 04.03.2021
added: 14.03.2021
---

<script>
  import spidey from './spidey.jpg';
</script>

![*This story in a nutshell]({spidey})

NOBODY'S SAFE, haha. Karma's a bitch, I guess.

Most probably the hackers (those, that hacked) won't be able to get much out of it. They took emails, usernames, hashed passwords, but the hackers (those, who were hacked) became hackers (the profession) because they know how it all works. I highly doubt anyone would be able to get some cool info out of it.

But what can better illustrate the point that there's no real security in modern applications, than this?

There were 4 forums hacked, by the way. One forum even lost access to its bitcoin wallet. There are rumors, that some spy agencies are involved in these hacks, but it sounds strange as they would keep the data to themselves and not put it out for sale.
