$header-anchor-width: 45px;
$header-anchor-padding: 15px;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.7em;
  margin-top: 1em;
  margin-left: -$header-anchor-width;
  padding-left: $header-anchor-width;

  font-family: $serif;
  font-weight: $bold;
  line-height: 1.3;

  background: linear-gradient(
    35deg,
    $header-gradient-1 33%,
    $header-gradient-2 100%
  );
  background-clip: text;
  // Fallback, if clip doesn't work. In this case it's just showing white text on green back
  color: #fff;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: ms(5);
}

h2 {
  font-size: ms(4);
}

h3 {
  font-size: ms(3);
}

h4 {
  font-size: ms(2);
}

h5 {
  font-size: ms(1);
}

h6 {
  font-size: ms(0);
}

strong {
  font-weight: $bold;
}

em {
  font-style: italic;
}

p,
ol,
ul {
  font-family: $serif;
  margin-bottom: 14px;
  line-height: $base-font-size * 1.8;
  font-size: ms(0);
  color: $text-color;
}

.text--error {
  color: $error-text-color;
  font-size: ms(-1);
}

.text--success {
  color: $success-text-color;
  font-size: ms(-1);
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul,
ol {
  @include mq($until: mobile) {
    margin-left: 15px;
  }
  @include mq($from: mobile) {
    margin-left: -10px;
  }
}

li {
  @include mq($from: mobile) {
    padding-left: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

a,
ins,
u {
  color: $link-color;
  text-decoration: underline;
}

a:hover,
a.anchor {
  text-decoration: none;
}

a.anchor {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    cursor: default;

    &:before {
      content: '#';
      margin-left: -$header-anchor-width;
      margin-right: $header-anchor-padding;
      opacity: 0;

      cursor: pointer;
    }

    &:hover:before {
      opacity: 1;
    }
  }
}

blockquote {
  border-left: 3px solid;
  border-image-source: linear-gradient(
    0deg,
    $blockquote-gradient-1,
    $blockquote-gradient-2
  );
  border-image-slice: 1;
  margin: 15px 0;
  padding: 12px 0 12px 20px;
}

blockquote > p:last-child {
  margin-bottom: 0;
}

blockquote ul,
blockquote ul {
  list-style-position: inside;
  margin-left: 0;
}

pre {
  overflow-y: scroll;
  max-width: 100%;
  margin: 15px 0 15px -4px;
  padding: 15px;

  font-family: $mono;
  line-height: $base-font-size * 1.8;
  font-size: ms(0);
  color: $text-color;

  @include mq($until: mobile) {
    background: linear-gradient(
      35deg,
      $code-gradient-1 0%,
      $code-gradient-2 100%
    );
  }
  @include mq($from: mobile) {
    background: linear-gradient(
      35deg,
      $code-gradient-1 33%,
      $code-gradient-2 66%
    );
  }
  border-radius: 10px;

  code {
    /*
    * Resetting code selector background
    */
    background: none;
    padding: 0;
  }
}

code {
  display: inline-block;
  border-radius: $border-radius;

  background: linear-gradient(
    35deg,
    $code-gradient-1 0%,
    $code-gradient-2 100%
  );
  padding: 2px 4px;
  font-family: $mono;
}
