h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
  background: linear-gradient(35deg, $accent-color 33%, $darker-accent-color 100%);
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: $bold;
  line-height: 1.1;
  margin-bottom: 0.7em;
  margin-top: 1em;
}

h1 {
  font-size: ms(5);
}

h2 {
  font-size: ms(4);
}

h3 {
  font-size: ms(3);
}

h4 {
  font-size: ms(2);
}

h5 {
  font-size: ms(1);
}

h6 {
  font-size: ms(0);
}

strong {
  font-weight: $bold;
}

em {
  font-style: italic;
}

p,
ol,
ul {
  font-family: $serif;
  margin-bottom: 14px;
  line-height: $base-font-size * 1.8;
  font-size: ms(0);
  color: $text-color;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul,
ol {
  @include mq($until: mobile) {
    margin-left: 15px;
  }
  @include mq($from: mobile) {
    margin-left: -10px;
  }
}

li {
  @include mq($from: mobile) {
    padding-left: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

a,
ins,
u {
  color: $accent-color;
  text-decoration: underline;
}

a:hover {
  color: $accent-color;
  text-decoration: none;
}

blockquote {
  border-left: 3px solid;
  border-image-source: linear-gradient(0deg, $accent-color, $superlight-accent-color);
  border-image-slice: 1;
  margin: 15px 0;
  padding: 12px 0 12px 20px;
}

blockquote > p:last-child {
  margin-bottom: 0;
}

blockquote ul,
blockquote ul {
  list-style-position: inside;
  margin-left: 0;
}

pre {
  overflow-y: scroll;
  max-width: 100%;
  margin: 15px 0 15px -4px;
  padding: 15px;

  font-family: $mono;
  line-height: $base-font-size * 1.8;
  font-size: ms(0);

  @include mq($until: mobile) {
    background: linear-gradient(35deg, $superlight-accent-color 0%, $accent-color 100%);
  }
  @include mq($from: mobile) {
    background: linear-gradient(35deg, $superlight-accent-color 33%, $accent-color 66%);
  }
  border-radius: 10px;

  code {
    /*
    * Resetting code selector background
    */
    background: none;
    padding: 0;
  }
}

code {
  border-radius: $border-radius;

  background: linear-gradient(35deg, $superlight-accent-color 0%, $accent-color 100%);
  padding: 3px 5px;
}

.paragraph--serif {
  font-family: 'Merriweather', serif;
}
